<section id="sobre" class="page">
    <div class="content">





        <!-- row -->
        <div class="row">

            <!-- column 8/12 -->
            <div class="col-md-12">

                <h2 class="section-title"><span><i class="icon-guest"></i>UM POUCO SOBRE MIM</span></h2>

                <!-- intro -->
                <div class="intro">

                    <h2>
                        Desenvolvimento de sites e aplicações web.
                        <br />
                        Se procura algo nessa área, <strong>eu posso te ajudar!</strong>

                    </h2>

                </div>
                <!-- intro -->


            </div>
            <!-- column 8/12 -->


            <!-- column 4/12 -->
            <!--div class="col-md-4">

                <h2 class="section-title"><span><i class="icon-twitter"></i>ÚLTIMOS TWEETS</span></h2>

                <div id="latest-tweets" class="widget-twitter" data-twitterid="17120208" data-tweet-count="1"></div>

            </div-->
            <!-- column 4/12 -->


        </div>
        <!-- row -->





        <h2 class="section-title"><span><i class="fa fa-magic"></i>SERVIÇOS</span></h2>

        <!-- SERVICES -->
        <div class="row">


            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color2">
                    <i class="icon-brush"></i>
                    <h4>Web Design</h4>
                    <p>Elaboração de interfaces ricas e de fácil utilização, utilizando-se dos conceitos de usabilidade e acessibilidade.</p>
                </div>
                <!-- service -->

            </div>

            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color1">
                    <i class="fa fa-html5"></i>
                    <h4>Desenvolvimento Web</h4>
                    <p>Codificação front-end e back-end nos mais diversos tipos de aplicações web.</p>
                </div>
                <!-- service -->

            </div>

            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color3">
                    <i class="fa fa-mobile"></i>
                    <h4>Sites Responsivos</h4>
                    <p>Os sites desenvolvidos se adequam da melhor forma possível para serem acessados dos mais diversos tipos de dispostivos, como computadores, tablets e smartphones.</p>
                </div>
                <!-- service -->

            </div>

            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color4">
                    <i class="fa fa-bug"></i>
                    <h4>Manutenções</h4>
                    <p>Atualizações, melhorias  e manutenções de aplicações web e sites já existentes.</p>
                </div>
                <!-- service -->

            </div>

        </div>
        <!-- SERVICES -->





        <h2 class="section-title"><span><i class="icon-layers-alt"></i>FLUXO DE TRABALHO</span></h2>

        <!-- PROCESS -->
        <div class="row">


            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="icon-lamp"></i>
                        <h4>IDÉIA</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">
                    <div class="process-box">
                        <i class="fa fa-puzzle-piece"></i>
                        <h4>CONCEITO</h4>
                    </div>
                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="icon-brush"></i>
                        <h4>DESIGN</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-code"></i>
                        <h4>CODIFICAÇÃO</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-bug"></i>
                        <h4>TESTES</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-rocket"></i>
                        <h4>LANÇAMENTO</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

        </div>
        <!-- PROCESS -->


    </div>
</section>