<section id="contato" class="page">
    <div class="content">



        <!-- row -->
        <div class="row">


            <!-- column 6/12 -->
            <div class="col-md-6">

                <h2 class="section-title"><span><i class="icon-address-book"></i>VAMOS MANTER CONTATO</span></h2>

                <!-- LETTER -->
                <div class="letter">

                    <h4 class="letter-title">Douglas Martinello Karling</h4>

                    <div class="stamp">
                        <img src="{{ "/images/site/photo.jpg" | prepend: site.baseurl }}" alt="stamp" />
                    </div>

                    <div class="letter-info">
                        <p><i class="icon-at"></i>douglasmartinello<i class="icon-at" style="background-color: transparent;color: #333;margin: 0;padding: 0px;font-size: 16px;"></i>gmail.com</p>
                        <p><i class="icon-location"></i>Curitiba - Paraná</p>
                    </div>

                </div>
                <!-- LETTER -->



                <h2 class="section-title"><span><i class="icon-paper-plane"></i>ME DEIXE UMA MENSAGEM</span></h2>


                <!-- .contact-form -->
                <div class="contact-form">

                    <iframe src="https://docs.google.com/forms/d/1qKN3sAukmlfCbijyrljabDL_IrVqfr4rvDTV47N_RQk/viewform?embedded=true" height="750" style="width:100%;margin:0;padding:0;border:0;">Carregando...</iframe>

                </div>
                <!-- .contact-form -->

            </div>
            <!-- column 6/12 -->


            <!-- column 6/12 -->
            <div class="col-md-6">


                <h2 class="section-title"><span><i class="icon-chat"></i>VAMOS SOCIALIZAR</span></h2>

                <!-- SOCIAL -->
                <ul class="social">
                    <li><a target="_blank" class="facebook" href="https://www.facebook.com/douglaskarling"></a></li>
                    <li><a target="_blank" class="twitter" href="http://twitter.com/douglasmk"></a></li>
                    <li><a target="_blank" class="linkedin" href="http://br.linkedin.com/in/douglasmk/"></a></li>
                    <li><a target="_blank" class="google-plus" href="https://plus.google.com/117409604073146352803/"></a></li>
                    <li><a target="_blank" class="pinterest" href="https://br.pinterest.com/douglasmk/"></a></li>
                    <li><a target="_blank" class="instagram" href="http://instagram.com/douglasmk/"></a></li>
                    <li><a target="_blank" class="github" href="http://github.com/douglasmk/"></a></li>
                    <li><a class="skype" href="skype:douglasmk?chat"></a></li>
                </ul>
                <!-- SOCIAL -->


                <h2 class="section-title"><span><i class="icon-location"></i>LOCALIZAÇÃO</span></h2>
                <!-- GOOGLE MAP -->
                <div class="map">
                    <!--iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d230483.0520808215!2d-49.2897982!3d-25.4951166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1424209129593" class="map" frameborder="0" style="border:0"></iframe-->
                    <div data-latitude="-25.429722" data-longitude="-49.271944" data-zoom="4" id="map-canvas" class="map-canvas"></div>
                </div>
                <!-- GOOGLE MAP -->

            </div>
            <!-- column 6/12 --><!-- column 6/12 -->



        </div>
        <!-- row -->



    </div>
</section>
