<header class="header">

    <img src="{{ "/images/site/photo_avatar.png" | prepend: site.baseurl }}" alt="avatar" />
    <h1>Douglas MK</h1>
    <p>desenvolvedor web</p>

    <!-- NAV MENU -->
    <ul class="vs-nav">

        <!-- InstanceBeginEditable name="Menu-Content" -->

        <li><a href="#/sobre">sobre</a></li>
        <!--li><a href="#/portfolio">portfolio</a></li-->
        <li><a href="#/contato">contato</a></li>
        <li><a href="#/curriculo">curriculo</a></li>

        <!-- InstanceEndEditable -->

    </ul>
    <!-- NAV MENU -->

    <!-- SEARCH -->
    <div class="header-search">
        <form role="search" method="get" id="search-form" action="#" />
        <input type="text" value="" name="s" id="search" placeholder="ENTER KEYWORD" />
        <input type="submit" id="search-submit" title="Search" value="→" />
        </form>
    </div>
    <!-- SEARCH -->
</header>
