<section id="curriculo" class="page">
    <div class="content">
        <!-- CONTENT -->


        <!-- row -->
        <div class="row">


            <!-- col 6/12 -->
            <div class="col-md-6">

                <!-- timeline -->
                <div class="timeline">

                    <h2><i class="fa fa-flask"></i>HISTÓRICO PROFISSIONAL</h2>

                    <div class="event current">
                        <span class="date">2013</span>
                        <h4>Desenvolvedor Web</h4>
                        <h5>Observatórios Sesi/Senai/IEL</h5>
                        <p>Pesquisa, desenvolvimento e manutenção de aplicações para a internet, atendento as demandas internas da Federação.</p>
                    </div>


                    <div class="event">
                        <span class="date">2013</span>
                        <h4>Desenvolvedor Web</h4>
                        <h5>Agência Salsa</h5>
                        <p>Desenvolvimento de melhorias e manutenção do portal <a href="http//:www.tha.com.br" title="Acessar o portal Thá" target="_blank" >www.tha.com.br</a>.</p>
                    </div>

                    <div class="event">
                        <span class="date">2011</span>
                        <h4>Desenvolvedor Web</h4>
                        <h5>Inex Tecnologia</h5>
                        <p>Desenvolvimento de novas aplicações para a internet e manutenção, adequação e melhorias dos sistemas existentes, atuando tanto na programação quanto no design.</p>
                    </div>

                    <div class="event">
                        <span class="date">2010</span>
                        <h4>Desenvolvedor Web</h4>
                        <h5>Equipe-S Inovações Web</h5>
                        <p></p>
                    </div>

                    <div class="event">
                        <span class="date">2007</span>
                        <h4>Desenvolvedor Web</h4>
                        <h5>Trabalhos autônomos</h5>
                        <p></p>
                    </div>


                </div>
                <!-- timeline -->


                <!-- timeline -->
                <div class="timeline">

                    <h2><i class="icon-college"></i>HISTÓRICO EDUCACIONAL</h2>


                    <div class="event">
                        <span class="date">2014</span>
                        <h4>Engenharia de Sistemas Web</h4>
                        <h5>Universidade Federal de Mato Grosso</h5>
                        <p></p>
                    </div>


                    <div class="event">
                        <span class="date">2010</span>
                        <h4>Ciência da Computação</h4>
                        <h5>Universidade do Estado de Mato Grosso</h5>
                        <p></p>
                    </div>


                </div>
                <!-- timeline -->


            </div>
            <!-- col 6/12 -->



            <!-- col 6/12 -->
            <div class="col-md-6">

                <h2 class="section-title"><span><i class="fa fa-code"></i>DESENVOLVIMENTO</span></h2>

                <!-- DEV SKILLS -->
                <div class="skillset">

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>HTML5</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>CSS3</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>jQuery</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>PHP</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>MVC</h4>
                        <div class="bar" data-percent="90">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>UML</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>SEO</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>SQL</h4>
                        <div class="bar" data-percent="80">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Yii Framework</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Lógica</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                </div>
                <!-- DEV SKILLS -->



                <h2 class="section-title"><span><i class="icon-brush"></i>DESIGN</span></h2>

                <!-- DESIGN SKILLS -->
                <div class="skillset">

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Fireworks</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Photoshop</h4>
                        <div class="bar" data-percent="70">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Illustrator</h4>
                        <div class="bar" data-percent="70">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>CorelDraw</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                </div>
                <!-- DESIGN SKILLS -->



                <h2 class="section-title"><span><i class="icon-cog-1"></i>OUTRAS</span></h2>

                <!-- DESIGN SKILLS -->
                <div class="skillset">

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Usabilidade e Acessibilidade</h4>
                        <div class="bar" data-percent="98">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Integração com Redes Sociais</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Desenvolvimento Ágil</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>WebDesign</h4>
                        <div class="bar" data-percent="85">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                    <!-- .skill-unit -->
                    <div class="skill-unit">
                        <h4>Design Gráfico</h4>
                        <div class="bar" data-percent="95">
                            <div class="progress"></div>
                        </div>
                    </div>
                    <!-- .skill-unit -->

                </div>
                <!-- DESIGN SKILLS -->


                <!--
                <h2 class="section-title"><span><i class="icon-doc-alt"></i>DOWNLOAD MY CV</span></h2>

                <p>You can download my CV in pdf format if you like. I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                -->
                <!-- DOWNLOAD BUTTON -->
                <!--div class="download-button">
                    <a href="#" class="button primary">DOWNLOAD CV</a>
                </div-->
                <!-- DOWNLOAD BUTTON -->


                <h2 class="section-title"><span><i class="icon-linkedin"></i>VISITE MEU PERFIL NO LINKEDIN</span></h2>

                <p>Fique a vontade para visualizar meu perfil no Linkedin. Quem sabe você encontrará algo novo que não consta aqui.</p>

                <!-- DOWNLOAD BUTTON -->
                <div class="download-button">
                    <a href="http://br.linkedin.com/in/douglasmk/" class="button primary">MEU PERFIL NO LINKEDIN</a>
                </div>
                <!-- DOWNLOAD BUTTON -->


            </div>
            <!-- col 6/12 -->


        </div>
        <!-- row -->




    </div>
    <!-- CONTENT -->

</section>